*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(195, 211, 234);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    list-style: none;
    cursor: pointer;


}
a{
    text-decoration: none;
}
button{
    background-color: rgb(18, 155, 155);
    color: white;
    padding: 4px 10px;
    border: 1px solid white;
    border-radius: 20px;
    font-weight: 700;
    width: fit-content;
}
button:hover{
    background-color: white;
    color: rgb(18, 155, 155);
    border: 1px solid rgb(18, 155, 155);
}

header{
    padding: 15px 0px;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 700;
    font-size:25px ;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}
nav ul li:hover{
    /* text-decoration: underline; */
    background-color: rgb(103, 157, 185);
    color: white;
    font-weight: bolder;

}
.seaech-bar{
    display: flex;
    gap: 30px;
}
input{
    padding: 4px 10px;
}

.hero-section{
    display: flex;
    align-items: center;

}
.hero-section-left{
    width: 60%;
    padding: 0 8%;

}

.hero-section-left h1{
    font-size: 25px;
}

.hero-section-left h1 span{
    color:rgb(18, 155, 155) ;
    background-color: aliceblue;
    border-radius: 10px;
    font-weight: 800;
    font-size: 35px;
    padding: 0px 15px;
}
.hero-section-left p{
    font-size: 16px;
}
.hero-section-left p span{
    font-size: 18px;
    background-color: aliceblue;
    color:rgb(18, 155, 155) ;
    font-weight: 700;
    padding: 0px 5px;

}
.hero-section-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-section-right-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.hero-section-right img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
footer{
    display: flex;
    font-weight: 600;
    padding: 20px 0;
    justify-content: space-around;

}
footer ul{
    display: flex;
    font-size: 25px;
    align-items: center;
    gap: 30px;

}
footer ul:hover{
    color: rgb(225, 250, 85);
}

